VteTerminal, vte-terminal {
	padding: 24px 24px 24px 24px;
}

/*  padding: top, right, bottom, left*/

.-vala-panel-appmenu-private > * > GtkLabel,
.-vala-panel-appmenu-private > * > *  > GtkLabel {
  font-weight: regular;
}
.-vala-panel-appmenu-private:nth-child(1) > * > GtkLabel {
  font-weight: 700;
}
